.signupform{
 position: relative;
 top: 150px;
 margin-left: 800px;
 width: 320px;
 padding-left: 50px;
 border: 1px solid rgb(80, 79, 79);
 padding-bottom: 20px;
 background-color: none;
}
@media screen and (max-width: 1246px) {
    .signupform{
        position: relative;
        top: 150px;
        margin-left: 600px;
        width: 320px;
        padding-left: 50px;
        border: 1px solid rgb(80, 79, 79);
        padding-bottom: 20px;
        background-color: none;
       }
}
@media screen and (max-width: 1100px) {
    .signupform{
        position: relative;
        top: 100px;
        margin-left: 400px;
        width: 320px;
        padding-left: 50px;
        border: 1px solid rgb(80, 79, 79);
        padding-bottom: 20px;
        background-color: none;
       }
}
@media screen and (max-width: 942px) {
    .signupform{
        position: relative;
        top: 100px;
        margin-left: 200px;
        width: 320px;
        padding-left: 50px;
        border: 1px solid rgb(80, 79, 79);
        padding-bottom: 20px;
        background-color: none;
       }
}
@media screen and (max-width: 702px) {
    .signupform{
        position: relative;
        top: 100px;
        margin-left: 100px;
        width: 320px;
        padding-left: 50px;
        border: 1px solid rgb(80, 79, 79);
        padding-bottom: 20px;
        background-color: none;
       }
}
@media screen and (max-width: 526px) {
    .signupform{
        position: relative;
        top: 100px;
        margin-left: 40px;
        width: 320px;
        padding-left: 50px;
        border: 1px solid rgb(80, 79, 79);
        padding-bottom: 20px;
        background-color: none;
       }
}
@media screen and (max-width: 434px) {
    .signupform{
        position: relative;
        top: 100px;
        margin-left: 20px;
        width: 320px;
        padding-left: 30px;
        border: 1px solid rgb(80, 79, 79);
        padding-bottom: 20px;
        background-color: none;
       }
       .signupform hr{
        margin-bottom: 20px;
        color: #000;
        background-color: none;
        position: relative;
        left: -30px !important;
        width: 346px !important;
    }
}
@media screen and (max-width: 415px) {
    .signupform{
        position: relative;
        top: 100px;
        margin-left: 10px;
        width: 300px;
        padding-left: 30px;
        border: 1px solid rgb(80, 79, 79);
        padding-bottom: 20px;
        background-color: none;
       }
       .signupform hr{
        margin-bottom: 20px;
        color: #000;
        background-color: none;
        position: relative;
        left: -30px !important;
        width: 330px !important;
    }
}
@media screen and (max-width: 378px) {
    .signupform{
        position: relative;
        top: 100px;
        margin-left: 2px;
        width: 280px;
        padding-left: 3px !important;
        border: 1px solid rgb(80, 79, 79);
        padding-bottom: 20px;
        background-color: none;
        
       }
       .signupform hr{
        margin-bottom: 20px;
        color: #000;
        background-color: none;
        position: relative;
        left: -4px !important;
        width: 283px !important;
    }
       .inputfield input{
    
        border: none;
        color: rgb(255, 255, 255);
        background-color: #009eb3;
        font-size: 13px;
        padding: 3px;
        padding-left: 10px !important;
        padding-right: 20px !important;
    }
}
.inputfield{
   
    padding-bottom: 20px;
    background-color: none;
    color: rgb(255, 255, 255);
    padding-right: 50px;
}
::placeholder {
    color: rgb(255, 255, 255);
    opacity: 1; /* Firefox */
  }
.inputfield input{
    
    border: none;
    color: rgb(255, 255, 255);
    background-color: #009eb3;
    font-size: 18px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 50px;
}

.signupform h2{
    background-color: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 font-size: 30px;
 margin-left: 44px;
 margin-bottom: 40px;
}
.signupsubmit button{
    color:#fff;
    border: none;
    background-color: rgb(3, 73, 177);
    padding: 12px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 24px;
    position: relative;
    left: 70px;
}
.signupsubmit button:hover{
    background-color: black;
    color: aliceblue;
}
.signupform hr{
    margin-bottom: 20px;
    color: #000;
    background-color: none;
    position: relative;
    left: -51px;
    width: 370px;
}